
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.hidden {
   display: none !important;
}

.show {
   display: block;
}

.container {
   display: grid;
   margin: 2rem;
}

.divider {
   height: 1px;
   background-color: rgb(175, 175, 175);
}

.flexbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header {
    display: grid;
    position: sticky;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 70px;
    top: 0;
    background-color: #000000;
    color: white;
    width: 100%;
    z-index: 1;
}

.header .logo a {
   color: white;
   width: 100%;
}

li {
   margin: 1rem;
}

.menu li a {
   color: rgba(255, 255, 255, 0.819);
   transition: .3s;
}

.menu li a:hover {
   color: #fff;
}

.menu {
   display: flex;
   list-style: none;
}

.menu-btn {
   display: none;
}

img {
   width: 100%;
   height: 250px;
}

.posts{
   transition: .3s;
}

.posts:hover{
   transform: scale(1.03);
}

article {
   margin-bottom: 2rem;
}

p {
   margin-bottom: 2rem;
   color: rgb(110, 110, 110);
}

a {
   text-decoration: none;
}

a:visited,
a:active {
   color: black;
}

button {
   text-decoration: none;
}

.text {
   padding: 0 2rem; 
}



/*============PRINCIPAL POST============*/
.principal-text {
  margin: 2rem;
  text-align: center;
}

.principal-img {
   margin-top: auto;
}

/*==============ARTICLES================*/
.article-title {
   text-align: center;
   margin: 1rem;
}

.article-img {
   border-radius: 10px;
}

.article-text {
   text-align: left;
}

/*===============COMENTS======================*/
#coment {
   padding: 1rem;
   margin: 2rem;
}

.coment-header {
   display: flex;
   justify-content: space-between;
   line-height: 1.5;
   display: flex;
   margin-top: 1rem;
}

.coment-img {
   margin-right: 1rem;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
}

.social-img {
   margin-right: 1rem;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   margin-top: 1rem;
}

.cont {
   display: flex;
}

/*===========FOOTER=============*/
#footer {
   color: #ffffffd5;
   background-color: #000;
   margin: 0;
   text-align: center;
   padding: 2rem 0;
}

.socials a {
   margin: 3px;
   color: rgb(175, 175, 175);
   line-height: 3rem;
   text-decoration: underline;
   transition: .3s;
}

.socials a:hover {
   color: #fff;
}

@media (min-width: 1000px) {
   .principal-img {
      max-width: 60%;
      height: 300px;
      margin: auto;
      text-align: center;
   }

   .center {
      display: grid;
      width: 100%;
      margin: auto;
   }

   
   .p {
      padding: 0 10rem;
      margin: 1.5rem 8rem;
   }

}

@media (max-width: 768px) {
   .menu {
     display: none;
     background-color: #000;
     flex-direction: column;
     align-items: center;
   }

   .menu-btn {
      display: block;
      padding: 1rem;
      cursor: pointer;
   }
 }







